$white:          #fff;
$grey-lightest:  #f2f5f7;
$grey-lighter:   #dadcdf;
$grey-light:     #a1a5a9;
$grey:           #74787d;
$grey-dark:      #47484a;
$grey-darker:    #2e2e2e;
$grey-darkest:   #1a1a1a;
$black:          #000;

$orange-lightest: #FFD2B2;
$orange-lighter:  #FFA666;
$orange-light:    #FF8126;
$orange:          #FF791A;
$orange-dark:     #E66000;
$orange-darker:   #CC5500;

$turq-lightest:   #d0f1f5;
$turq-lighter:    #81dbe4;
$turq-light:      #28B8C7;
$turq:            #099AAA;
$turq-dark:       #00818F;
$turq-darker:     #006A75;

$turquoise-lighter: #a2f2fa;
$turquoise-light:   #50d7e5;
$turquoise:         #0098a8;
$turquoise-dark:    #00818f;
$turquoise-darker:  #006a75;


// // brand colours


$bv-yellow:         #ffcb05;
$bv-red:            #ed1c24;
$bv-green:          #01954A;
$bv-blue:           #004794;
$bv-lightgrey:      #eee;
$bv-bluegrey:       #222632;
$bv-fontgrey:       #909298;
$bv-beige:          #dfdbce;

$bv-orange:         #f6a100;
$bv-lightgreen:     #4cad31;
$bv-darkblue:       #00567a;
$bv-turquoise:      #30b6b8;
$bv-purple:         #ba0e71;

$bv-accordion-color: $bv-darkblue;
