
<!-- Product feature modal -->
{% assign category = site.data.categories | where: 'id', item.category %}

<div class="container container--no-padding modal__content modal-product bg--white">

  <div class="modal-product__image bg-img bg-img--21-9" style="background-image: url({{site.img}}/categories/{{category[0].id}}/{{item.id}}/bg.jpg);">
    <div class="modal-product__image-category">
      <div class="modal-product__image-category-logo"></div>
      {{category[0].title}}
    </div>
  </div>

  <div class="modal-product__title text--center">
    <div class="icon modal-product__icon" style="background-image: url({{site.img}}/product/{{item.id}}/icon.jpg);"></div>
    <div class="space--sm"></div>
    <h3 class="title title--xl title--serif text--bolder">{{item.id}}: {{item.product.name}}</h3>
    <p class="text--xxl text--bold">{{item.product.tagline}}</p>
  </div>

  <div class="boxpad--xxl">
    {% for feature in item.product.features %}
      <div class="bob {% cycle '', 'bob--swap' %}">
        <div class="bob__img">
          <div class="bg-img bg-img--16-9" style="background-image: url({{site.img}}/product/{{item.id}}/{{feature.id}}.jpg);"></div>
        </div>
        <div class="bob__text">
          <h4 class="title title--sm text--bolder">{{feature.title}}</h4>
          <p class="text--lg">{{feature.content}}</p>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="space--md"></div>

  <div class="boxpad--xxl bg--grey-darkest text--white text--center" style="background-color: {{item.product.color}};">
    <h4 class="title title--serif title--md">Special offer</h4>
    <p class="text--xxxl text--bold">{{item.incentive}}</p>
    <div class="space--sm"></div>
    <a href="{{item.product.link}}" class="btn btn--outline btn--outline-white">{% if item.product.cta-text %}{{item.product.cta-text}}{% else %}Learn more{% endif %}</a>
    <div class="space--xs"></div>
    <div class="width width--xl">
      <p class="text--xs">{{item.terms}}</p>
    </div>
  </div>

</div>
