
{% if page.language %}
  {% assign nav = site.data.languages.[page.language].nav %}
{% else %}
  {% assign nav = site.data.languages.de.nav %}
{% endif %}

<!-- The main site header to look like core SE site-->
<div class="nav">
  <div class="nav__top">

    <div class="nav__top__mobile">
      <!-- mobile menu icon -->
      <div class="js-toggle-mobile-nav icon icon--menu"></div>
    </div>

    <div class="nav__top__logo">
      <!-- SE logo  -->
      {% include components/logo.html placement="header" %}
    </div>

    <div class="nav__top__nav">

        <a class="nav__top__nav-link" href="https://www.secretescapes.de/aktuelle-angebote" target="_blank">Zu den Reisen:</a>
            <a class="nav__top__nav-link" href="https://www.secretescapes.de/aktuelle-angebote" target="_blank" >
              <img src="{{site.img}}/logo/secret-escapes.svg" class="logo-sm" alt="Secret Escapes logo"></a>
    </div>
  </div>

</div>







<!-- off canvas mobile menu -->
<div class="mobile-nav is-closed">

  <div class="mobile-nav__top mobile-nav__wrap">
    <!-- close icon -->
    <div class="js-toggle-mobile-nav icon icon--close"></div>
  </div>

  <div class="mobile-nav__middle mobile-nav__wrap">
    <!-- nav list -->
    <div class="mobile-nav__list">
      <a class="mobile-nav__list-link" href="https://www.secretescapes.com/current-sales">Current Sales</a>
      <a class="mobile-nav__list-link" href="https://www.secretescapes.com/spa">Spa</a>
      <a class="mobile-nav__list-link" href="https://www.secretescapes.com/smartstays/filter">Smart Stays</a>
    </div>
  </div>

</div>
