// main footer for the microsite

.site-footer {
  background-color: $grey-darkest;
  &__wrap {
    @include page-padding;
    padding-top: $s6;
    padding-bottom: $s6;
    color: $grey-lighter;
    font-weight: 400;
    text-align: center;
    background-color: $grey-darkest;
  }
  &__atol {
    max-width: 100px;
  }
}


