
/*=====================================
  MODAL VARIABLES & SETUP
=====================================*/

$icon-size-sm: 3.2em;
$icon-size: 4em;
$content-width: 30%;
$modaltransition-time: 300ms;
$modaltransition-distance: 4em;

@mixin modaltransition() { transition: all $modaltransition-time cubic-bezier(.5,0,.5,1); }

// disable scroll and blur background when modal is active
.disable-scroll {/*
  overflow: hidden;
  & >:not(.modal) {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
  }*/
}



.modal {
  $icon-size: 3em;
  position: relative;
  //margin-top: ($icon-size*1.5);
  //margin-bottom: ($icon-size*1.5);
  margin-left: ($icon-size / 2.5);
  margin-right: ($icon-size / 2.5);
  cursor: auto;
  &.is-open   { display: block; }
  &.is-closed { display: none; }
  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    margin-bottom: ($icon-size /2);
  }
  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-overlay;
    background-color: rgba($grey-darker,.9);
    cursor: pointer;
    overflow: auto;
    // smooth scrolling ios
    -webkit-overflow-scrolling: touch;
    &.is-open { display: block; }
    &.is-closed { display: none; }
  }
  &__content {
    color: $grey-dark;
    background-color: $white;
    padding: $s2 $s3;
    //overflow: auto;
    //height: 70vh;
  }
  &__close {
    @include transition;
    position: fixed;
    right: 0;
    top: 0;
    height: $icon-size-sm;
    width: $icon-size-sm;
    background-color: rgba($white,0.8);
    background-image: url('../img/icons/close-dark.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1em;
    cursor: pointer;
    z-index: $z-overlay-upper;
    &:hover{ background-color: $white; }
    @include bp($lg){
      height: $icon-size;
      width: $icon-size;
    }
  }
  &__nav {
    @include transition;
    display: block;
    position: fixed;
    bottom: 0;
    height: $icon-size-sm;
    width: 50%;
    z-index: $z-overlay-upper;
    background-color: rgba($white,1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1em;
    cursor: pointer;
    user-select: none;
    &:hover{ background-color: $white; }
    @include bp($lg){
      bottom: auto;
      top: 50%;
      margin-top: -$icon-size;
      height: $icon-size*2;
      width: $icon-size;
    }

    &--next {
      right: 0;
      background-image: url('../img/icons/arrow-right.svg');
    }
    &--previous {
      left: 0;
      background-image: url('../img/icons/arrow-left.svg');
    }
    @include bp($md) {

        @include transition;
        display: block;
        position: fixed;
        bottom: 0;
        width: $icon-size;
        height: ($icon-size*2);
        z-index: $z-overlay-upper;
        background-color: rgba($white,.8);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 1em;
        cursor: pointer;
        user-select: none;
        &:hover{ background-color: $white; }
      /*
      position: absolute;
      z-index: $z-overlay-upper;
      top: 10vh;
      width: $icon-size;
      height: ($icon-size*2);
      margin-top: -($icon-size);
      background-color: rgba($black, .5);
      background-size: 1em;
      &--previous { left: -($icon-size); }
      &--next {
        right: -($icon-size);
        border-left: 0;
      }
      &:hover     { background-color: $black; }*/
    }
  }
  &--standard { max-width: $xxl; }
  &--series   { max-width: $xxxl; }
  &--image    { max-width: $xxl; }
  &--youtube  {
    width: 100%;
    max-width: $xxxl;
    .video__wrap {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 0;
      width: 100%;
      padding-bottom: 56.25%;
      background-color: #000;
    }
    .video {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
    }
  }
  @include bp($md) {

    margin-left: $icon-size;
    margin-right: $icon-size;
    &__wrap { margin-bottom: 0; }
  }
  @include bp($lg){
    &__content {
      padding: $s4 $s6;
      //height: 60vh;
    }
  };
}

.disable-scroll { overflow: hidden; }


// SPECIFIC MODIFIERS FOR PRODUCT MODAL

.modal-product {
  &__image {
    &-category {
      position: absolute;
      top: 0; left: 0;
      padding: 0 $s0 0 $s3;
      //margin-bottom: 10px;
      width: 100%;
      height: 100%;
      font-size: $s2;
      //text-transform: uppercase;
      font-weight: 700;
      background: linear-gradient(115deg, rgba($black,.6) 0%, rgba($black,.3) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
      &-logo {
        margin-bottom: 10px;
        width: $s6;
        height: $s6;
        background-image: url(../img/logo/icon.svg);
        @include background-attributes;
      }
      @include bp($md) {
          padding: 0 $s0 0 $s4;
          width: 100%;
          background: linear-gradient(115deg, rgba($black,.6) 0%, rgba($black,.0) 80%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
      }
      @include bp($lg) {
      width: 70%;
          padding: 0 $s0 0 $s5;
          background: linear-gradient(115deg, rgba($black,.6) 0%, rgba($black,.0) 70%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );
      }
    }
  }
  &__icon {
    margin: auto;
    height: $s10;
    width: $s10;
    margin-top: -$s10/2;
  }
}
